.rock {
    background-image: url("images/rock.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;

    flex-grow: 1;
}

.chosen_sign {
    background-image: url("images/question.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;

    margin: 2px;
    flex-grow: 0.5;
}


.paper {
    background-image: url("images/paper.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;

    flex-grow: 1;
}

.scissors {
    background-image: url("images/scissors.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
    
    flex-grow: 1;
}

.lizard {
    background-image: url("images/lizard.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;

    flex-grow: 1;
}

.spock {
    background-image: url("images/spock.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;

    flex-grow: 1;
}

/* ########################################## */

body {
    background-image: radial-gradient(circle, white 30%, lightblue, skyblue);
    width: 98vw;
    height: 97.5vh;
    
    justify-content: center;

    display: flex;
    flex-direction: row;
}

#game-container {
    border: 2px solid black;
    
    height: 100%;
    display: flex;
    flex-direction: column;
}

.options-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 0.25;

    background-color: black;
    border: 1px solid black;

    width: 30vw;
}

.options-bar *:not(:last-child) {
    margin-right: 10px;
}

.board-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;

    /*border: 1px solid green;*/

    width: 100%;
}

.matchup {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;

    padding: 1px;
    margin: 1px;
}

.status-box {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    

    border: 1px solid blue;
    border-radius: 5vw;

    align-self: center;
    margin: 5px;

    width: 1vw;
    height: 1vw;
}

.body-filler {
    display: flex; 
    flex-direction: row;
    width: 33%; 
}

.filler {
    display: flex; 
    flex-grow: 1.2;
}

#result {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;

    justify-content: center;

    margin-top: 1vw;
    margin-bottom: 1vw;
}

.result-box {
    border: 1px solid black;
    border-radius: 5vw;
    align-self: center;

    width: 3.2vw;
    height: 3.2vw;
}

.text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-self: center;
    font-size: 1.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ###################### */


.interactor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    cursor: default;

    transform: translateY(-7vh);

    height: 6vh;
}

.interactor-text {
    display: flex;

    font-size: 1.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.interactor-box {
    display: flex;

    border: 1px solid black;
    border-bottom: 2px solid black;
    border-radius: 14px;
    
    justify-content: center;

    width: 2.4vw;
    height: 2vw;

    background-color: white;

    font-size: 1.5vw;
    font-family: 'Times New Roman', Times, serif;
}

#restart-game {
    display: flex;

    border: 1px solid black;
    border-bottom: 2px solid black;
    border-radius: 14px;
    
    align-self: center;
    justify-content: center;

    visibility: hidden;

    background-color: white;
    cursor: default;
    transform: translateY(7vh);

    width: 8vw;
    height: 2vw;

    font-size: 1.2vw; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ############################# */

.h2p {
    display: flex;

    background-image: url("images/h2p.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    
    width: 3vw;
    height: 7vh;
}

#ruleset {
    display: flex;

    background-image: url("images/rules.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 15%;

    width: 15vw;
    height: 60vh;
}